.categoryFilterList {
    width: 100vw;
    position: fixed;
    top: 3rem;
    left: 0;
    z-index: 99;
    background: linear-gradient(90deg, #1a1a1a 0%, gold 50%, #1a1a1a 100%);
    display: flex;
    gap: 1rem;
    justify-content: left;
    align-items: center;
}

.filters {
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    color: floralwhite;
}

.categoryItems {
    display: flex;
    justify-content: left;
    gap: 1rem;
    font-size: 0.8rem;
}

.categoryItem {
    display: flex;
    border-radius: 8px;
    border: 1px solid gold;
}

.categoryItemText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 1rem;
}

.categoryItem:hover {
    box-shadow: inset 2px -2px 1px mediumblue;
}

.categoryItemButton {
    border-radius: 0 8px 8px 0;
    background-color: gold;
    cursor: pointer;
}

.categoryItemButton:hover {
    background: linear-gradient(90deg, gold 0%, mediumblue 100%);
    color: floralwhite;
    border: 0;
    border-bottom: 1px solid mediumblue;
}