.categoryFilterList {
    width: 100vw;
    position: fixed;
    top: 3rem;
    left: 0;
    z-index: 99;
    background: linear-gradient(90deg, #133453 0%, #489075 50%, #133453 100%);
    display: flex;
    gap: 1rem;
    justify-content: left;
    align-items: center;
}

.filters {
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    color: floralwhite;
}

.categoryItems {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    font-size: 0.8rem;
}

.categoryItem {
    display: flex;
    border-radius: 8px;
    border: 1px solid #BFD5CD;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    margin-right: 0.3rem;
}

.categoryItemText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 1rem;
    color: #BFD5CD;
}

.categoryItem:hover {
    box-shadow: inset 2px -2px 1px #1a1a1a;
}

.categoryItemButton {
    border-radius: 0 8px 8px 0;
    background-color: #BFD5CD;
    cursor: pointer;
}

.categoryItemButton:hover {
    background-color: #133453;
    color: floralwhite;
    border: 0;
    border-bottom: 1px solid #133453;
}

.clearFiltersButton {
    cursor: pointer;
    border-radius: 8px;
    height: 2rem;
    display: flex;
    align-items: center;
    animation: blink 5s infinite;
}

.categorySelector {
    border-radius: 8px;
    width: 17rem;
    background-color: transparent;
    color: white;
    border: 1px solid #BFD5CD
}

.categorySelector option {
    background-color: #BFD5CD;
    color: #133453;
}

.discountSelector {
    border-radius: 8px;
    width: 5rem;
    background-color: transparent;
    color: white;
    border: 1px solid #BFD5CD
}

.discountSelector option {
    background-color: #BFD5CD;
    color: #133453;
}

.search {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
}

.search::placeholder {
    color: white;
}

.sorter {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: floralwhite;
    cursor: pointer;
    border-right: 1px dotted #489075;
    padding-right: 1rem;
}

@keyframes blink {
    0% {
        background-color: #133453;
        color: #489075;
    }
    50% {
        background-color: #489075;
        color: #133453;
    }
    100% {
        background-color: #133453;
        color: #489075;
    }
}