.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    overflow-y: auto;
    background-color: #FFE8C8;
}

.wishlist {
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #FFE8C8;
}

.wishlistItem-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #BFD5CD;
}

.wishlistItem {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
    justify-content: left;
    align-items: center;
    border-right: 1px dotted #133453;
}

.wishlistItem img {
    width: 90px;
    height: 90px;
    border-radius: 8px;
    align-self: center;
}

.wishlistItem-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: start;
}

.wishlistItem-title {
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;

}

.wishlistRemoveButton {
    background: linear-gradient(0deg, #133453 0%, #489075 50%, #133453 100%);
}

.wishlistRemoveButton:hover {
    background: linear-gradient(0deg, #489075 0%, #133453 50%, #489075 100%);
    color: #489075;
}