.categoryFilterList {
    min-height: 3rem;
    max-height: 15rem;
    width: 100vw;
    background-color: burlywood;
    display: inline-block;
    justify-content: left;
    align-items: center;
}

.categorySelector {
    border-radius: 1rem;
    margin: 1rem 1rem 1rem 1rem;

}

.filters {
    border-right: 1px solid darkgray;
    background-color: chocolate;
    padding-left: 1rem;
}

.categoryItem {
    border-radius: 1rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 0.3rem 0 0.3rem;
    align-items: center;
    margin-left: 0.5rem;
}

.categoryItems {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0 0.5rem 0;
}

.categoryItemButton {
    background-color: red;
    color: white;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    border-radius: 50%;
    margin: 0 0.1rem 0 0.5rem;
}

.categoryItemButton:hover {
    background-color: #1a1a1a;
}